appdirs==1.4.4
appnope==0.1.0
astroid==2.4.2
backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
Flask==2.0.1
idna==3.2
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.2
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
mysql-connector-python==8.0.26
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.7
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.6.0
Pygments==2.7.1
pylint==2.6.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
PySide2==5.15.2
PySide2extn==1.0.0
python-dateutil==2.8.1
python-dotenv==0.18.0
pyzmq==19.0.2
qt-material==2.8.8
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.26.0
shiboken2==5.15.2
six==1.15.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.26.6
virtualenv==20.1.0
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
